.appWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.appWrapper hr {
    margin-top: 28px;
    width: 100%;
    border: 1px solid black;
}